doctype html
html
	head
		meta(name='viewport',content='initial-scale=1')
		title= title
		link(rel='stylesheet', href='stylesheets/grid-style.css')
		link(rel='stylesheet', href='stylesheets/style.css')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js')
		script(type='text/javascript', src='javascripts/app.js')
		script(type='text/javascript', src='javascripts/navBarController.js')
		script(type="text/javascript").
			function upload_form() {
				var g = document.getElementById('grp').options[document.getElementById('grp').selectedIndex].value;
				var e = document.getElementById('evt').options[document.getElementById('evt').selectedIndex].value;
				document.form1.action = "/api/groups/" + g + "/events/" + e + "/photos";
				document.form1.submit();
			}
		block head
		
	body(ng-app="app")
		.logo(ng-hide=navbar) Family Photo Share
		div.content
			h1(ng-show=navbar)
				ul.section.group()
					li.nav-col.nav-span_1_of_4.nav-col-active(ng-show=navtab1)
						a(href='/upload') Add Photos
					li.nav-col.nav-span_1_of_4(ng-hide=navtab1)
						a(href='/upload') Add Photos
					li.nav-col.nav-span_1_of_4.nav-col-active(ng-show=navtab2)
						a(href='/download') Get Photos
					li.nav-col.nav-span_1_of_4(ng-hide=navtab2)
						a(href='/download') Get Photos
					li.nav-col.nav-span_1_of_4.nav-col-active(ng-show=navtab3)
						a(href='/manage-groups') Admin
					li.nav-col.nav-span_1_of_4(ng-hide=navtab3)
						a(href='/manage-groups') Admin
					li.nav-col.nav-span_1_of_4
						a(href='/logout') Log Out
			block content
